@font-face {
  font-family: 'ProductSans';
  src: url('./fonts/ProductSans-Regular.ttf');
}

* {
  font-family: ProductSans;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #1c1c1c;
  color: white;
  text-align: center;
}

header h2 {
  margin: 0;
  padding: 20px 0;
}

section {
  display: grid;
  grid-template-columns: 60% 40%;
  height: 700px;
  background: linear-gradient(to top, #1db954, #1c1c1c);
}

section iframe {
  width: 80%;
  height: 80%;
  margin: auto;
  border: none;
}

.text {
  padding: 50px 50px 50px 0;
  color: white;
}

.text h1 {
  font-size: 45px;
  text-transform: uppercase;
}

.text p {
  line-height: 25px;
  font-size: 17px;
}

.text a {
  display: block;
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

@media (max-width: 768px) {

  section {
    grid-template-columns: 100%;
    height: auto;
  }

  section iframe {
    width: 80%;
    height: 200px;
    margin-top: 50px;
  }

  .text {
    padding: 50px;
  }

  .text h1 {
    font-size: 35px;
  }

}
